@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@charset"uft-8";
body,h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
body{
    min-width: 960px;
    font-family: 'Noto sans KR',sans-serif;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
    display: block;
}
.cf:after{
    content: "";
    display: block;
    clear: both;
}
.inner{
    width: 960px;
    margin: 0 auto;
    position: relative;
}
#wrap{
    width: 100%;
   
}
#header{
    height: 80px;
    text-align: center;
}
#header h1{
    
    padding-top: 10px;
}
#header h1 img{
    width: 170px;
    height: 80px;
}
#header .headerIn{
    padding-top: 15px;
    text-align: right;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
}
.headerIn .mypage{
    display: inline-block;
    width: 25px;
    height: 30px;
}
.headerIn .basket{
     display: inline-block;
    width: 25px;
    height: 30px;
}
.headerIn .Info{}
.headerIn .Info ul{
    
}
.headerIn .Info ul li{
    display: inline-block;
}
.headerIn .Info ul li a{
    color: #000;
    font-size: 12px;
    display: inline-block;
   
}
.headerIn .Info ul li:after{
    content: "";
    display:inline-block;
    width:1px;
    height: 8px;
    background: #000;
}
.headerIn .Info ul li:last-child:after{
   display: none;
}




.menumain{
   min-height: 800px;
}


.menumain .rjator{
    position: relative;
    padding-top: 15px;
}
.menumain .rjator input{
    width: 195px;
    margin-bottom: 10px;
    color: #fff;
    border: 0;
    height: 25px;
    padding: 0 10px;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 15px rgba(0,0,0,0.5);
}
input::-webkit-input-placeholder{
    color:#fff;
}
input::-moz-placeholder{
    color:#fff;
}
input::-moz-placeholder{
    color:#fff;
}
input::-ms-input-placeholder{
    color:#fff;
}
.menumain .rjator a{
    display: inline-block;
}
.menumain .rjator a img{
    width: 200px;
    height: 30px;

}
.menumain .rjator a p{
   position: absolute;
    top: 15px;
    color: #fff;
    margin-left: 5px;
}


.gdbox{
    text-align: center;
    
    
}
.gdbox h2{
    padding-bottom: 30px;
}
.gdbox p.red{
    color: red;
    font-size: 13px;
    padding: 15px 0;
    position: relative;
}
.gdbox p{
    text-align: left;
    margin-left: 30px;
    position: absolute;
}
.gdbox .gdmenu{}
.gdbox .gdmenu ul{
    padding-bottom: 30px;
}
.gdbox .gdmenu ul li{
    float: left;
    background: #e69eaf;
    border-radius: 15px;
    width: 180px;
    height: 50px;
    font-size:14px;
    line-height: 50px;
    color: #fff;
}
.gdbox .gdmenu ul li.arrow{
    background: url(../images/ghktkfvy.png) no-repeat;
    width:45px;
    height: 27px;
    background-size:100%;
    background-position: center center;
    border-radius: none;
    vertical-align: middle;
    margin: 0 15px;
    margin-top: 11px;
}
.gdbox .gdmenu ul li.on{
    background: #e94f6a;
}





.menumain .leftbox{
    background:#e69eaf; 
    float: left;
    width: 350px;
    height: 500px;
    display: inline-block;
    vertical-align: middle;
     text-align: center;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 20px;
}
.menumain .leftbox a{
    color: #fff;
}
.menumain .leftbox a img{
    width: 200px;
    height: 200px;
    padding: 30px 0;
}
.menumain .leftbox a p{
    font-size: 20px;
}
.menumain .leftbox a span{
     font-size: 15px;
}


.menumain .rightbox{
    background:#e69eaf;
    width: 350px;
    height: 500px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-radius: 20px;
    margin-left: 150px;
    margin-top: 20px;
}
.menumain .rightbox a{
    color: #fff;
}
.menumain .rightbox a img{
    width: 200px;
    height: 200px;
    padding: 30px 0;
}
.menumain .rightbox a p{
     font-size: 20px;
}
.menumain .rightbox a span{
     font-size: 15px;
}






.sns{
    display: block;
    
}
.sns ul.snsimg{
    position: absolute;
    top: 45px;
    right: -50px;
    background: url(../imga/images/sns_bg.png)no-repeat;
    width: 50px;
    height: 150px;
}
.sns ul.snsimg li{
    text-align: center;
    padding-top: 5px;
}
.sns ul.snsimg li a{}
.sns ul.snsimg li a img{
    width: 40px;
    height: 40px;
}







#footer{
    padding-top: 10px;
    text-align: center;
   
}
#footer .fotertop{
    background: #e94f6a;
    height: 40px;
}
#footer .fotertop ul{}
#footer .fotertop ul li.on a{
    color: #fff;
    
}
#footer .fotertop ul li.on1 a{
    color: #fff;
    margin-left: 10px;
}
#footer .fotertop ul li{
    color: #000;
    display: inline-block;
}
#footer .fotertop ul li a{
    margin-right: 5px;
    text-align: center;
    color: #000;
    font-size: 12px;
    padding-top: 10px;
}


#footer .foin{
    background: #eea2b4;
    height: 60px;
}
#footer .foin p{
    text-align: center;
    padding-top: 10px;
    font-size: 12px;
}